{% extends 'paydeelink_layout.html' %}


{% block nav %}
	<nav class="navbar navbar-expand-lg" style="background-color: #F8A1A1">
		<a class="navbar-brand" href="@{/}">
			<img src="{{url_for('static', filename='/images/pd_nav.png')}}" width="100" height="40" alt="paydee">
		</a>
	</nav>
{% endblock nav %}
		
{% block contentA %}	
	<div class="container">
	
			<div class="row justify-content-center">
				<div class="col-lg-4 col-md-6">
					<div class="my-5 text-center">
						<h2 style="font-weight: bold">Forgot your password?</h2>
					</div>
				</div>
			</div>
			
			<div class="row justify-content-center">
				<div class="col-lg-4 col-md-6">
			    	<p style="font-size:20px"class="text-center">Enter you email below to receive your password reset instructions</p>
				</div>
			</div>	
			
			<div class="row justify-content-center">
				<div class="col-lg-4 col-md-6">
				<form id="forgotPasswordForm" th:data-url="@{/forgot_password/send}" autocomplete="off">
					<div class="row justify-content-center">
				        <div class="form-group" style="width:100%">
			                <input type="email" class="form-control" th:name="registeredEmail" placeholder="Registered email" id="registeredEmail" th:pattern="${emailRegex}" required>			                		        
				        </div>		
					</div>
					
					<div class="row justify-content-center" >
						<div class="form-group" style="width:100%">							   					   	
							<button class="btn btn-primary btn-block" id="forgotPasswordButton" type="submit" style="border-color:white;background-color:#F8A1A1">Send</button>
						</div>
					</div>	 		
					
					<div class="row justify-content-center" >
						<div class="form-group" style="width:100%">							   					   	
							<a class="btn btn-block" th:href="@{/login}" style="border:none;background-color:none;color:black">Back to Login Page</a>
						</div>
					</div>						
				</form> 
				</div>
			</div>			
						
	</div>
	
	<div class="modal fade" id="ajaxModal" tabindex="-1" role="dialog" aria-labelledby="ajaxModalTitle" aria-hidden="true">
	    <div class="modal-dialog modal-sm" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h5 class="modal-title">Forgot password</h5>
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                    <span aria-hidden="true">&times;</span>
	                </button>
	            </div>
	            <div class="modal-body">
	                <p id="ajaxMessage"></p>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-secondary" style="border-color:#F8A1A1;background-color:#F8A1A1" data-dismiss="modal">Close</button>
	            </div>
	        </div>
	    </div>
	</div>	

</body>
<script th:inline="javascript">

	$(document).ready(function(){
		   
	   $("#forgotPasswordForm").on("submit", function(e){
			$("#forgotPasswordButton").attr("disabled","true");
		   
		   e.preventDefault();
		   var sendUrl = $(this).attr("data-url");
		   
		   $.ajax({
			  url:	sendUrl,
			  type:	"POST",
			  data:	$(this).serialize(),
			  success:	function(result) {
					$("#ajaxModal #ajaxMessage").text(result);										
					$("#ajaxModal").modal('show');	 
			  },
			  error: function(result) {
					$("#ajaxModal #ajaxMessage").text('Failed to send email');										
					$("#ajaxModal").modal('show');	  
    		  }, 
    		  complete: function(result) {
    				$("#forgotPasswordButton").removeAttr("disabled");		    
    		  }
		   }); 
		   
	   });
	   
	});
	
{% endblock contentA %}