{% extends 'paydeelink_layout.html' %}

{% block nav %}
<nav xmlns:th="http://www.thymeleaf.org">
	<div class="container-fluid" th:style="'height:120px;background-color:'+${brandColor}">
		<div class="d-flex align-items-start justify-content-between" style="float:right">
			<a class="p-1" th:href="@{/logout}" style="color: white"><span class="fa fa-sign-out"></span> Logout</a>
		</div>
	</div>
</nav>
{% endblock nav %}

{% block contentA %}

<div class="container" >
	<div class="row justify-content-center">
        <div class="col-sm-4">
			<div class="row justify-content-center">
				<div class="form-group" >
					<div class="row justify-content-center" style="margin-top: -50px">
						<img class="wise-logo" th:src="${logoName}">
					</div>
				</div>
			</div>
			
			<div class="row justify-content-center">
				<div class="form-group">
					<h2 style="font-weight: bold" th:text="${companyName}"></h2>
				</div>
			</div>
			
			<div class="form-group">
		    	<p style="font-size:20px"class="text-center">Please update your password</p>
		    </div>
						
			<form id="updatePasswordForm" th:action="@{/password/save}" onsubmit="return validatePasswordUpdateForm()" method="post" autocomplete="off">
				<div class="row justify-content-center">
			        <div class="form-group" style="width:100%">
			            <span class="has-float-label">
			                <input type="password" class="form-control" th:name="oldPassword" placeholder="Old password" id="oldPassword" required="required">
			                <label for="oldPassword" style="font-weight:bold">Old Password<span class="required">*</span></label>
							<span class="ptxt1" th:style="'color:'+${brandColor}">Show</span>			                
			            </span>
			        </div>		
				</div>
				
				<div class="row justify-content-center">
			        <div class="form-group" style="width:100%">
			            <span class="has-float-label">
			                <input type="password" class="form-control" th:name="newPassword" placeholder="New password" id="newPassword" required="required">
			                <label for="newPassword" style="font-weight:bold">New Password<span class="required">*</span></label>
							<span class="ptxt2" th:style="'color:'+${brandColor}">Show</span>			                			                
			            </span>
		                <p><span id="oldNewPassMessage"></span></p>
						<ul class="fa-ul mt-2">
							<li class="pass-character" style="color:red;"><span class="fa-li"><i class="fa fa-close" aria-hidden="true"></i></span>Minimum 7 characters</li>		
							<li class="pass-number" style="color:red;"><span class="fa-li"><i class="fa fa-close" aria-hidden="true"></i></span>At least one number</li>	
							<li class="pass-alphabet" style="color:red;"><span class="fa-li"><i class="fa fa-close" aria-hidden="true"></i></span>At least one alphabet letter</li>
						</ul>				            		                            
			        </div>		
				</div>
					
				<div class="row justify-content-center">
			        <div class="form-group" style="width:100%">
			            <span class="has-float-label">
			                <input type="password" class="form-control" th:name="confirmPassword" placeholder="Confirm new password" id="confirmNewPassword" required="required">
			                <label for="confirmNewPassword" style="font-weight:bold">Confirm New Password<span class="required">*</span></label>
							<span class="ptxt3" th:style="'color:'+${brandColor}">Show</span>			                			                
			            </span>
		                <span id="message"></span>
			        </div>		
				</div>				
				
				<div class="row justify-content-center" >
					<div class="form-group" style="width:100%">							   					   	
						<button class="btn btn-primary btn-block" id="updatePasswordButton" type="submit" th:style="'border-color:white;background-color:'+${brandColor}">Submit</button>
					</div>
				</div>	 				
			</form>   
		</div>	
	</div>	
	
	<div th:if="${updatePassMessage != null}">
		<div class="modal fade" id="updatePassStatus" tabindex="-1" role="dialog" aria-labelledby="updatePassStatusTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="updatePassStatusTitle">Update Password</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" th:text="${updatePassMessage}" th:data-paymentUrl=@{/payment}>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal" th:style="'border-color:white;background-color:'+${brandColor}">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
</body>
<script th:inline="javascript">

/*<![CDATA[*/

	var isOldEqualNewPass = true;
	var isNewEqualConfirmPass = false;
	var passwdRegex = [[${passwordCombinationRegex}]];

	$(document).ready(function(){
		
		
	    $("#newPassword").on("keyup", function(){
	    	//check password at least 7 character
	    	if($("#newPassword").val().length >= 7){
	    		$(".pass-character").html("");
	    		$(".pass-character").html('<span class="fa-li"><i class="fa fa-check" aria-hidden="true"></i></span>Minimum 7 characters').css("color", "green");
	    	}else{
	    		$(".pass-character").html("");
	    		$(".pass-character").html('<span class="fa-li"><i class="fa fa-close" aria-hidden="true"></i></span>Minimum 7 characters').css("color", "red");
	    	}
	    	
	    	//check password at least contains one number
	    	if($("#newPassword").val().match(/\d+/g)){
	    		$(".pass-number").html("");
	    		$(".pass-number").html('<span class="fa-li"><i class="fa fa-check" aria-hidden="true"></i></span>At least one number').css("color", "green");
	    	}else{
	    		$(".pass-number").html("");
	    		$(".pass-number").html('<span class="fa-li"><i class="fa fa-close" aria-hidden="true"></i></span>At least one number').css("color", "red");
	    	}
	    	
	    	//check password at least contains one alphabet character
	    	if($("#newPassword").val().match(/[A-Za-z]/)){
	    		$(".pass-alphabet").html("");
	    		$(".pass-alphabet").html('<span class="fa-li"><i class="fa fa-check" aria-hidden="true"></i></span>At least one alphabet letter').css("color", "green");
	    	}else{
	    		$(".pass-alphabet").html("");
	    		$(".pass-alphabet").html('<span class="fa-li"><i class="fa fa-close" aria-hidden="true"></i></span>At least one alphabet letter').css("color", "red");
	    	}
	    	
	    });

		$("#newPassword, #confirmNewPassword").on("keyup", function(){
			
			if($("#oldPassword").val() === $("#newPassword").val()) {
				isOldEqualNewPass = true;
				$("#oldNewPassMessage").html("Old password and new password cannot be the same").css("color", "red");
			} else {
				isOldEqualNewPass = false;				
				$("#oldNewPassMessage").html("");
			}
			
			if($("#newPassword").val() === $("#confirmNewPassword").val()) {
				isNewEqualConfirmPass = true;
				$("#message").html("Matched").css("color", "green");
			} else {
				isNewEqualConfirmPass = false;				
				$("#message").html("Not Matching").css("color", "red");				
			}
		});
	
		$("#updatePassStatus").modal('show');
		
	    $('span[class^="ptxt"]').on('click', function () {
	        $(this).text($(this).text() == "Show" ? "Hide" : "Show");
	        $(this).prev().prev().attr('type', function (index, attr) {
	            return attr == 'password' ? 'text' : 'password';
	        });
	    });
	    
		$("#updatePassStatus").on('hidden.bs.modal', function(){
			var isSuccess = [[${isUpdateSuccess}]];
			var redirectUrl = $('#updatePassStatus .modal-body').attr("data-paymentUrl");
			if(isSuccess) {
				location.replace(redirectUrl);
			}
		});	    
	    
	});
	
	function validatePasswordUpdateForm() {
		
		if(isOldEqualNewPass) {
			$("#oldNewPassMessage").html("Old password and new password cannot be the same").css("color", "red");
			return false;
		}	
		
		if(!$("#newPassword").val().match(passwdRegex)) {
			return false;
		}
		
		if(isNewEqualConfirmPass){
			$("#updatePasswordButton").attr("disabled","true");
			return true;
		} else {
			$("#message").html("New and confirm password dont match").css("color", "red");				
			return false;
		}
	}
/*]]>*/

{% endblock contentA %}