<nav xmlns:th="http://www.thymeleaf.org">
	<div class="container-fluid" th:style="'height:120px;background-color:'+${brandColor}">
		<div class="d-flex align-items-start justify-content-between">
			<div class="dropdown p-1">
				<a href="#" style="color: white" class="dropdown-toggle" data-toggle="dropdown">Settings</a>      
			    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			    	<a id="payment" th:href="@{/payment}" class="dropdown-item" >Payment</a>
			        <a id="transaction" th:href="@{/transaction}" class="dropdown-item" >Transaction</a>
			       	<a id="profile" th:href="@{/profile_settings}" class="dropdown-item" >Profile</a>                    
			    </div>
			</div>
			<a class="p-1" th:href="@{/logout}" style="color: white"><span class="fa fa-sign-out"></span> Logout</a>
		</div>
		
	</div>
</nav>