<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header_merchant.html">
</head>
	
<body>

	<nav th:replace="navbar_standard.html">
	</nav>
		
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6">
				<div class="my-5 text-center">
				<h2 style="font-weight: bold">Reset Password</h2>
				</div>
			</div>
		</div>
		
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6">
			   	<p style="font-size:20px"class="text-center">Request is not found</p>
			</div>
		</div>
	</div>
</body>
<script>
</script>
</html>