{% extends 'v2_paydeelink_layout.html' %}


{% block nav %}
	<!--nav class="navbar navbar-expand-lg" style="background-color: #F8A1A1">
		<a class="navbar-brand" href="@{/}">
			<img src="{{url_for('static', filename='/images/pd_nav.png')}}" width="100" height="40" alt="paydee">
		</a>
	</nav-->
{% endblock nav %}


{% block contentA %}		
	<div class="container">
		
		<div class="row d-flex justify-content-center mx-2  mt-5">          
			<img class="w-25" src="{{url_for('static', filename='images/paydee_logo.png')}}">
	
		</div>


		<div class="row justify-content-center d-flex">
			<div class="col-lg-4 col-md-6 p-4">
				<div class="text-center">
					<h3>Reset Password</h3>
				</div>
			</div>
		</div>		
		
		<!--div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 p-4">
		    	
			</div>
		</div-->
		
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 px-4">
				<form class="form-control-sm"  id="passwordRecoveryForm" th:data-url="@{/password_recovery/reset/save}" autocomplete="off">			
					
					<p class="text-center my-1">Enter your new password below</p>

					<div class="row justify-content-center">
				        <div class="form-group" style="width:100%">
			                <input type="password" class="form-control" th:name="token" th:value="${token}" style="display:none">			                			                
				        </div>		
					</div>				
					
					<div class="row justify-content-center">
				        <div class="form-group" style="width:100%">
				            <span class="has-float-label">
				                <input type="password" class="form-control" th:name="newPassword" placeholder="New password" id="newPassword" required="required">
				                <label for="newPassword" style="font-weight:bold">New Password<span class="required">*</span></label>
								<span class="ptxt1" style="color:#a8a5a5"><small>Show</small></span>			                			                
				            </span>
	
				        </div>		
					</div>
						
					<div class="row justify-content-center">
				        <div class="form-group" style="width:100%">
				            <span class="has-float-label">
				                <input type="password" class="form-control" th:name="confirmPassword" placeholder="Confirm new password" id="confirmNewPassword" required="required">
				                <label for="confirmNewPassword" style="font-weight:bold">Confirm New Password<span class="required">*</span></label>
								<span class="ptxt2" style="color:#a8a5a5"><small>Show</small></span>			                			                
				            </span>
			                <span id="message"></span>
				        </div>		
					</div>				
					
					<div class="row justify-content-center" >
						<div class="form-group" style="width:100%">							   					   	
							<button class="btn btn-primary btn-block" id="passwordRecoveryResetButton" type="submit" style="border-color:white;background-color:#000">Reset</button>
						</div>
					</div>	 	
					
					<ul class="fa-ul mt-2">
						<li class="pass-character" style="color:#EB6F93;"><span class="fa-li"><i class="fa fa-close" aria-hidden="true"></i></span>Minimum 7 characters</li>		
						<li class="pass-number" style="color:#EB6F93;"><span class="fa-li"><i class="fa fa-close" aria-hidden="true"></i></span>At least one number</li>	
						<li class="pass-alphabet" style="color:#EB6F93;"><span class="fa-li"><i class="fa fa-close" aria-hidden="true"></i></span>At least one alphabet letter</li>
						<li><span class="fa-li"><i class="fa fa-exclamation" aria-hidden="true"></i></span>Must be different with the previous four passwords.</li>
					</ul>						
				</form> 
			</div>
		</div>	
			   	
	</div>
	
	<div class="modal fade" id="ajaxModal" tabindex="-1" role="dialog" aria-labelledby="ajaxModalTitle" aria-hidden="true">
	    <div class="modal-dialog modal-sm" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h5 class="modal-title">Password Recovery</h5>
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                    <span aria-hidden="true">&times;</span>
	                </button>
	            </div>
	            <div class="modal-body" th:data-loginUrl="@{/login}">
	                <p id="ajaxMessage"></p>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-secondary" style="border-color:#F8A1A1;background-color:#F8A1A1" data-dismiss="modal">Close</button>
	            </div>
	        </div>
	    </div>
	</div>	
</body>
<script th:inline="javascript">

/*<![CDATA[*/

	var isNewEqualConfirmPass = false;
	var passwdRegex = [[${passwordCombinationRegex}]];

	$(document).ready(function(){
		
		var isPasswordRecoverySuccess = false;
		
	    $("#newPassword").on("keyup", function(){
	    	//check password at least 7 character
	    	if($("#newPassword").val().length >= 7){
	    		$(".pass-character").html("");
	    		$(".pass-character").html('<span class="fa-li"><i class="fa fa-check" aria-hidden="true"></i></span>Minimum 7 characters').css("color", "green");
	    	}else{
	    		$(".pass-character").html("");
	    		$(".pass-character").html('<span class="fa-li"><i class="fa fa-close" aria-hidden="true"></i></span>Minimum 7 characters').css("color", "red");
	    	}
	    	
	    	//check password at least contains one number
	    	if($("#newPassword").val().match(/\d+/g)){
	    		$(".pass-number").html("");
	    		$(".pass-number").html('<span class="fa-li"><i class="fa fa-check" aria-hidden="true"></i></span>At least one number').css("color", "green");
	    	}else{
	    		$(".pass-number").html("");
	    		$(".pass-number").html('<span class="fa-li"><i class="fa fa-close" aria-hidden="true"></i></span>At least one number').css("color", "red");
	    	}
	    	
	    	//check password at least contains one alphabet character
	    	if($("#newPassword").val().match(/[A-Za-z]/)){
	    		$(".pass-alphabet").html("");
	    		$(".pass-alphabet").html('<span class="fa-li"><i class="fa fa-check" aria-hidden="true"></i></span>At least one alphabet letter').css("color", "green");
	    	}else{
	    		$(".pass-alphabet").html("");
	    		$(".pass-alphabet").html('<span class="fa-li"><i class="fa fa-close" aria-hidden="true"></i></span>At least one alphabet letter').css("color", "red");
	    	}
	    	
	    });

		$("#newPassword, #confirmNewPassword").on("keyup", function(){
						
			if($("#newPassword").val() === $("#confirmNewPassword").val()) {
				isNewEqualConfirmPass = true;
				$("#message").html("Matched").css("color", "green");
			} else {
				isNewEqualConfirmPass = false;				
				$("#message").html("Not Matching").css("color", "red");				
			}
		});
			
	    $('span[class^="ptxt"]').on('click', function () {
	        $(this).text($(this).text() == "Show" ? "Hide" : "Show");
	        $(this).prev().prev().attr('type', function (index, attr) {
	            return attr == 'password' ? 'text' : 'password';
	        });
	    }); 
	    
	    $("#passwordRecoveryForm").on("submit", function(e){   	
	    	if(validatePasswordUpdateForm()) {	    			  
				$("#passwordRecoveryResetButton").attr("disabled","true");
	    		
		    	e.preventDefault();
		    	var saveUrl = $(this).attr("data-url");	 
		    	
		    	$.ajax({
		    		url:	saveUrl,
		    		type:	"POST",
		    		data:	$(this).serialize(),
		    		success: function(result) {
		    			if(result.includes("Successfully")){
		    				isPasswordRecoverySuccess = true;
		    			}
						$("#ajaxModal #ajaxMessage").text(result);										
						$("#ajaxModal").modal('show');	 		    			
		    		}, 
		    		error: function(result) {
						$("#ajaxModal #ajaxMessage").text('Failed to reset password');										
						$("#ajaxModal").modal('show');
		    		}, complete: function(result) {
						$("#passwordRecoveryResetButton").removeAttr("disabled");		    				    	
		    		}		    		
		    	});	
		    	
	    	} else {
	    		return false;
	    	}    	
	    	
	    });
	    
		$("#ajaxModal").on('hidden.bs.modal', function(){
			var redirectUrl = $('#ajaxModal .modal-body').attr("data-loginUrl");
			if(isPasswordRecoverySuccess) {
				location.replace(redirectUrl);
			}
		});	 	    
	});
	
	function validatePasswordUpdateForm() {
		
		if(!$("#newPassword").val().match(passwdRegex)) {
			return false;
		}
		
		if(isNewEqualConfirmPass){
			$("#passwordRecoveryButton").attr("disabled","true");
			return true;
		} else {
			$("#message").html("New and confirm password dont match").css("color", "red");				
			return false;
		}
	}
	
/*]]>*/
{% endblock contentA %}